.header:after {
  content: 'pseudo-element created with CSS Modules';
  display: inline-block;
  background-color: #fff;
  color: #000;
  margin-top: 4px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 500;
}
